@import 'tailwindcss';

@theme {
	--font-sans:
		'Raleway', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--color-blue: #0d1b2a;
	--color-yellow: #ffd439;
	--color-orange: #dba436;
	--color-cream: #e0e1dd;
	--color-black: #2b2b2b;
}

@layer base {
	:root {
		font-optical-sizing: auto;
		font-style: normal;
		font-weight: 600;
		scroll-behavior: smooth;
		color: var(--color-blue);
	}

	h1 {
		@apply text-4xl leading-none font-black tracking-tight text-balance sm:text-5xl md:text-6xl;
	}
}

@layer utilities {
	.mw {
		@apply mx-auto max-w-300;
	}
	.btn {
		@apply relative flex items-center justify-center gap-2 overflow-hidden rounded-full px-5 py-3 text-center leading-none font-extrabold active:scale-95;
	}
	.btn > svg,
	.btn > span {
		@apply relative z-1;
	}
	.btn > svg {
		@apply shrink-0;
	}
	.btn-white {
		@apply bg-yellow text-blue before:bg-white;
	}
	.btn-yellow {
		@apply bg-orange text-blue before:bg-yellow;
	}
	.btn::before {
		position: absolute;
		top: 0;
		height: 100%;
		z-index: 0;
		content: '';
		width: 120%;
		left: -10%;
		transform: skew(30deg);
		transition: transform 0.5s cubic-bezier(0.3, 1, 0.8, 1);
	}
	.btn:hover::before {
		transform: skew(30deg) translate3d(50%, 0, 0);
	}
	.btn:disabled::before {
		transform: none;
	}
}

@layer components {
	.tag {
		@apply rounded-lg px-2 py-1 text-xs font-bold;
	}
	.tag-blue {
		@apply bg-blue-500 text-white;
	}
	.tag-pink {
		@apply bg-pink-500 text-white;
	}
	.tag-gold {
		@apply bg-orange text-white;
	}
	.tag-disabled {
		@apply bg-slate-200 text-slate-400 line-through;
	}
}
